
  body {
    font-size: 14px;
  }
  /* .v114_2 {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v114_3 {
    width: 323px;
    height: 933px;
    background: rgba(127,165,224,1);
    opacity: 1;
    position: absolute;
    top: 88px;
    left: 0px;
    overflow: hidden;
  }
  .v114_4 {
    width: 181px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 575px;
    left: 77px;
    font-family: Inter;
    font-weight: Medium Italic;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_5 {
    width: 24px;
    height: 24px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 584px;
    left: 22px;
    overflow: hidden;
  }
  .v114_6 {
    width: 16px;
    height: 10px;
    background: url("../images/v114_6.png");
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 4px;
    border: 2px solid rgba(255,255,255,1);
  }
  .v114_7 {
    width: 20px;
    height: 5px;
    background: url("../images/v114_7.png");
    opacity: 1;
    position: absolute;
    top: 7px;
    left: 2px;
    border: 2px solid rgba(255,255,255,1);
  }
  .v114_8 {
    height: 15px;
    background: url("../images/v114_8.png");
    opacity: 1;
    position: absolute;
    top: 7px;
    left: 12px;
    border: 2px solid rgba(255,255,255,1);
  }
  .v114_9 {
    width: 7px;
    height: 5px;
    background: url("../images/v114_9.png");
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 5px;
    border: 2px solid rgba(255,255,255,1);
  }
  .v114_10 {
    width: 7px;
    height: 5px;
    background: url("../images/v114_10.png");
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 12px;
    border: 2px solid rgba(255,255,255,1);
  }
  .v114_11 {
    width: 181px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 507px;
    left: 77px;
    font-family: Inter;
    font-weight: Medium Italic;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_12 {
    width: 24px;
    height: 24px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 519px;
    left: 22px;
    overflow: hidden;
  }
  .v114_13 {
    width: 20px;
    height: 20px;
    background: url("../images/v114_13.png");
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 2px;
    border: 2px solid rgba(255,255,255,1);
  }
  .v114_14 {
    width: 8px;
    height: 2px;
    background: url("../images/v114_14.png");
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 8px;
    border: 2px solid rgba(255,255,255,1);
  }
  .v114_15 {
    width: 0px;
    background: url("../images/v114_15.png");
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 9px;
    border: 2px solid rgba(255,255,255,1);
  }
  .v114_16 {
    width: 0px;
    background: url("../images/v114_16.png");
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 15px;
    border: 2px solid rgba(255,255,255,1);
  }
  .v114_17 {
    width: 24px;
    height: 24px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 396px;
    left: 22px;
    overflow: hidden;
  }
  .v114_18 {
    width: 18px;
    height: 20px;
    background: url("../images/v114_18.png");
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 3px;
    border: 2px solid rgba(255,255,255,1);
  }
  .v114_19 {
    width: 6px;
    height: 10px;
    background: url("../images/v114_19.png");
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 9px;
    border: 2px solid rgba(255,255,255,1);
  }
  .v114_20 {
    width: 181px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 385px;
    left: 77px;
    font-family: Inter;
    font-weight: Medium Italic;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v114_22 {
    width: 133px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 252px;
    left: 130px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: right;
  }
  .v114_23 {
    width: 109px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 249px;
    left: 22px;
    font-family: Inter;
    font-weight: Medium Italic;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v114_24 {
    width: 86px;
    height: 86px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 143px;
    left: 8px;
    border-radius: 50%;
  }
  .v114_25 {
    width: 202px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 155px;
    left: 103px;
    font-family: Inter;
    font-weight: Medium Italic;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_26 {
    width: 24px;
    height: 24px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 108px;
    left: 14px;
    overflow: hidden;
  }
  .v114_27 {
    width: 6px;
    height: 6px;
    background: url("../images/v114_27.png");
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 9px;
    border: 2px solid rgba(255,255,255,1);
  }
  .v114_28 {
    width: 22px;
    height: 22px;
    background: url("../images/v114_28.png");
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 1px;
    border: 2px solid rgba(255,255,255,1);
  }
  .v114_29 {
    width: 100%;
    height: 96px;
    background: rgba(76,109,159,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v114_30 {
    width: 105px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 35px;
    left: 968px;
    font-family: Alegreya Sans SC;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v114_31 {
    width: 105px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 35px;
    left: 863px;
    font-family: Alegreya Sans SC;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v114_32 {
    width: 79px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 35px;
    left: 784px;
    font-family: Alegreya Sans SC;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_33 {
    width: 248px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 25px;
    left: 32px;
    font-family: Inter;
    font-weight: Medium Italic;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v114_34 {
    width: 265px;
    height: 41px;
    background: rgba(184,195,61,1);
    opacity: 1;
    position: absolute;
    top: 449px;
    left: 3px;
  }
  .v114_35 {
    width: 265px;
    height: 41px;
    background: rgba(184,195,61,1);
    opacity: 1;
    position: absolute;
    top: 324px;
    left: 323px;
  }
  .v114_36 {
    width: 181px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 445px;
    left: 81px;
    font-family: Inter;
    font-weight: Medium Italic;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  
  .v114_37 {
    width: 24px;
    height: 24px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 457px;
    left: 22px;
    overflow: hidden;
  }
  .v114_38 {
    width: 18px;
    height: 20px;
    background: url("../images/v114_38.png");
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 3px;
    border: 2px solid rgba(255,255,255,1);
  }
  */



  body {
    font-size: 14px;
  }
  .header {
    width: 100%;
    height: 1024px;
    background: rgba(238,237,237,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .header-color {
    width: 100%;
    height: 96px;
    background: rgba(76,109,159,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  /* .v98_72 {
    width: 59px;
    height: 51px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 1349px;
    overflow: hidden;
  }
  .v98_73 {
    width: 44px;
    background: url("../images/v98_73.png");
    opacity: 1;
    position: absolute;
    top: 21px;
    left: 7px;
    border: 2px solid rgba(255,255,255,1);
  }
  .v98_74 {
    width: 44px;
    background: url("../images/v98_74.png");
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 7px;
    border: 2px solid rgba(255,255,255,1);
  }
  .v98_75 {
    width: 44px;
    background: url("../images/v98_75.png");
    opacity: 1;
    position: absolute;
    top: 29px;
    left: 7px;
    border: 2px solid rgba(255,255,255,1);
  }
  .v98_76 {
    width: 44px;
    background: url("../images/v98_76.png");
    opacity: 1;
    position: absolute;
    top: 38px;
    left: 7px;
    border: 2px solid rgba(255,255,255,1);
  } */
  .header-title {
    width: 248px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 25px;
    left: 32px;
    font-family: Inter;
    font-weight: Medium Italic;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .header-top {
    width: 79px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 35px;
    left: 784px;
    font-family: Alegreya Sans SC;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  
  .header-tab1 {
    width: 105px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 35px;
    left: 968px;
    font-family: Alegreya Sans SC;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .header-tab2 {
    width: 105px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 35px;
    left: 863px;
    font-family: Alegreya Sans SC;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  
  .menu {
    width: 323px;
    height: 933px;
    background: rgba(127,165,224,1);
    opacity: 1;
    position: absolute;
    top: 96px;
    left: 0px;
    overflow: hidden;
  }
  
  /* 
  .v98_80 {
    width: 24px;
    height: 24px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 108px;
    left: 14px;
    overflow: hidden;
  }
  .v98_81 {
    width: 6px;
    height: 6px;
    background: url("../images/v98_81.png");
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 9px;
    border: 2px solid rgba(255,255,255,1);
  }
  .v98_82 {
    width: 22px;
    height: 22px;
    background: url("../images/v98_82.png");
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 1px;
    border: 2px solid rgba(255,255,255,1);
  } */
  /* 
  .v98_83 {
    width: 265px;
    height: 41px;
    background: rgba(184,195,61,1);
    opacity: 1;
    position: absolute;
    top: 387px;
    left: 2px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  } */
  
  
  .menu-home {
    width: 181px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 385px;
    left: 77px;
    font-family: Inter;
    font-weight: Medium Italic;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .menu-eikaiwa {
    width: 181px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 444px;
    left: 77px;
    font-family: Inter;
    font-weight: Medium Italic;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .menu-gacha {
    width: 181px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 575px;
    left: 77px;
    font-family: Inter;
    font-weight: Medium Italic;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .menu-kisekae {
    width: 181px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 507px;
    left: 77px;
    font-family: Inter;
    font-weight: Medium Italic;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .menu-acount_icon {
    width: 86px;
    height: 86px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 143px;
    left: 8px;
    border-radius: 50%;
  }
  .menu-acount_name{
    width: 202px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 155px;
    left: 103px;
    font-family: Inter;
    font-weight: Medium Italic;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .menu-acount_login {
    width: 109px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 249px;
    left: 22px;
    font-family: Inter;
    font-weight: Medium Italic;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .menu-acount_logintime{
    width: 133px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 252px;
    left: 130px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: right;
  }
  .name {
    color: #fff;
  }
  















  .eikaiwa-header_obi {
    width: 812px;
    height: 142px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 125px;
    left: 350px;
    overflow: hidden;
  }

  .eikaiwa-header_zisseki {
    width: 235px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 125px;
    left: 1179px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .eikaiwa-header_course {
    width: 255px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 301px;
    left: 368px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  

  .eikaiwa-menu_icon1 {
    width: 221px;
    height: 108px;
    background: rgba(154,239,245,1);
    opacity: 1;
    position: absolute;
    top: 388px;
    left: 417px;
    overflow: hidden;
  }

  .eikaiwa-menu_icon2 {
    width: 220px;
    height: 108px;
    background: rgba(117,255,148,1);
    opacity: 1;
    position: absolute;
    top: 388px;
    left: 684px;
    overflow: hidden;
  }

  .eikaiwa-menu_icon3{
    width: 221px;
    height: 108px;
    background: rgba(249,145,239,1);
    opacity: 1;
    position: absolute;
    top: 388px;
    left: 951px;
    overflow: hidden;
  }




  .eikaiwa-menu_1-1{
    width: 119px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 538px;
    left: 519px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .eikaiwa-menu_1-2{
    width: 124px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 618px;
    left: 514px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .eikaiwa-menu_1-3{
    width: 124px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 702px;
    left: 514px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .eikaiwa-menu_1-4{
    width: 126px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 786px;
    left: 512px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }

  .eikaiwa-menu_1-5{
    width: 124px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 865px;
    left: 519px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }


  
  
  .v114_50 {
    width: 73px;
    height: 63px;
    /* background: url("../images/v114_50.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 523px;
    left: 455px;
    overflow: hidden;
  }
  .v114_51 {
    width: 37px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 12px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_52 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 0px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_53 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 25px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_54 {
    width: 73px;
    height: 63px;
    /* background: url("../images/v114_54.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 852px;
    left: 455px;
    overflow: hidden;
  }
  .v114_55 {
    width: 37px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 12px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_56 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 0px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_57 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 25px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_58 {
    width: 73px;
    height: 63px;
    /* background: url("../images/v114_58.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 767px;
    left: 455px;
    overflow: hidden;
  }
  .v114_59 {
    width: 37px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 12px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_60 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 0px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_61 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 25px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_62 {
    width: 73px;
    height: 63px;
    /* background: url("../images/v114_62.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 689px;
    left: 455px;
    overflow: hidden;
  }
  .v114_63 {
    width: 37px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 12px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_64 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 0px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_65 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 25px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_66 {
    width: 73px;
    height: 63px;
    /* background: url("../images/v114_66.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 600px;
    left: 455px;
    overflow: hidden;
  }
  .v114_67 {
    width: 37px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 12px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_68 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 0px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_69 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 25px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_70 {
    width: 119px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 538px;
    left: 780px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v114_71 {
    width: 124px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 618px;
    left: 775px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v114_72 {
    width: 124px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 702px;
    left: 775px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v114_73 {
    width: 126px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 786px;
    left: 773px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v114_74 {
    width: 124px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 865px;
    left: 780px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v114_75 {
    width: 73px;
    height: 63px;
    /* background: url("../images/v114_75.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 523px;
    left: 716px;
    overflow: hidden;
  }
  .v114_76 {
    width: 37px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 12px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_77 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 0px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_78 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 25px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_79 {
    width: 73px;
    height: 63px;
    /* background: url("../images/v114_79.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 852px;
    left: 716px;
    overflow: hidden;
  }
  .v114_80 {
    width: 37px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 12px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_81 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 0px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_82 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 25px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_83 {
    width: 73px;
    height: 63px;
    /* background: url("../images/v114_83.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 767px;
    left: 716px;
    overflow: hidden;
  }
  .v114_84 {
    width: 37px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 12px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_85 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 0px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_86 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 25px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_87 {
    width: 73px;
    height: 63px;
    /* background: url("../images/v114_87.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 689px;
    left: 716px;
    overflow: hidden;
  }
  .v114_88 {
    width: 37px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 12px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_89 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 0px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_90 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 25px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_91 {
    width: 73px;
    height: 63px;
    /* background: url("../images/v114_91.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 600px;
    left: 716px;
    overflow: hidden;
  }
  .v114_92 {
    width: 37px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 12px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_93 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 0px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_94 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 25px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_95 {
    width: 119px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 538px;
    left: 1046px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v114_96 {
    width: 124px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 618px;
    left: 1041px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v114_97 {
    width: 124px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 702px;
    left: 1041px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v114_98 {
    width: 126px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 786px;
    left: 1039px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v114_99 {
    width: 124px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 865px;
    left: 1046px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v114_100 {
    width: 73px;
    height: 63px;
    /* background: url("../images/v114_100.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 523px;
    left: 982px;
    overflow: hidden;
  }
  .v114_101 {
    width: 37px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 12px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_102 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 0px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_103 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 25px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_104 {
    width: 73px;
    height: 63px;
    /* background: url("../images/v114_104.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 852px;
    left: 982px;
    overflow: hidden;
  }
  .v114_105 {
    width: 37px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 12px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_106 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 0px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_107 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 25px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_108 {
    width: 73px;
    height: 63px;
    /* background: url("../images/v114_108.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 767px;
    left: 982px;
    overflow: hidden;
  }
  .v114_109 {
    width: 37px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 12px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_110 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 0px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_111 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 25px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_112 {
    width: 73px;
    height: 63px;
    /* background: url("../images/v114_112.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 689px;
    left: 982px;
    overflow: hidden;
  }
  .v114_113 {
    width: 37px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 12px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_114 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 0px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_115 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 25px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_116 {
    width: 73px;
    height: 63px;
    /* background: url("../images/v114_116.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 600px;
    left: 982px;
    overflow: hidden;
  }
  .v114_117 {
    width: 37px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 12px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_118 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 0px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v114_119 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 25px;
    font-family: Almarai;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
