@charset "utf-8";

body {
  font-size: 20px;
  margin: 0em;
}
.header {
  width: 100%;
  height: 1024px;
  background: rgba(238,237,237,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.header-color {
  width: 100%;
  height: 96px;
  background: rgba(76,109,159,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.header-title {
  width: 248px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 25px;
  left: 32px;
  font-family: Inter;
  font-weight: Medium Italic;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.header-top {
  width: 79px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 35px;
  left: 784px;
  font-family: Alegreya Sans SC;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.header-tab1 {
  width: 105px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 35px;
  left: 968px;
  font-family: Alegreya Sans SC;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.header-tab2 {
  width: 105px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 35px;
  left: 863px;
  font-family: Alegreya Sans SC;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.menu {
  width: 323px;
  height: 933px;
  background: rgba(127,165,224,1);
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 0px;
  overflow: hidden;
}

.menu-home {
  width: 181px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 385px;
  left: 77px;
  font-family: Inter;
  font-weight: Medium Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}




.menu-eikaiwa {
  width: 181px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 444px;
  left: 77px;
  font-family: Inter;
  font-weight: Medium Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.menu-gacha {
  width: 181px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 575px;
  left: 77px;
  font-family: Inter;
  font-weight: Medium Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.menu-kisekae {
  width: 181px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 507px;
  left: 77px;
  font-family: Inter;
  font-weight: Medium Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.menu-acount_icon {
  width: 86px;
  height: 86px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 143px;
  left: 8px;
  border-radius: 50%;
}
.menu-acount_name{
  width: 202px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 155px;
  left: 103px;
  font-family: Inter;
  font-weight: Medium Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.menu-acount_login {
  width: 109px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 249px;
  left: 22px;
  font-family: Inter;
  font-weight: Medium Italic;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.menu-acount_logintime{
  width: 133px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 252px;
  left: 130px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: right;
}


/* 
.lesson-menu {
  width: 100%;
  height: 1024px;
  background: rgba(238,237,237,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
} */
.character {
  width: 755px;
  height: 386px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 326px;
  left: 505px;
  overflow: hidden;
}

.def{
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

#hantei{
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}



.top-hukidashi {
  width: 990px;
  height: 111px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;  /* 要素の配置方法を指定 */
  top: 179px;
  left: 388px;
  overflow: hidden;
}

.top-hukidashi > p{
  margin: 1px 0 0 1px;
}

.top {

  color: rgba(0,0,0,1);
  font-family: Abyssinica SIL;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
}
.top > p {
  text-align: center;
  margin: 0em;
}

#top2{
  color: rgba(0,0,0,1);
  font-family: Abyssinica SIL;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;

}

#top2 > p {
  text-align: center;
  margin: 0em;
}


.bottom-hukidashi {
  width: 990px;
  /* height: 128px; */
  height: 164px;

  background: rgba(190,187,187,1);
  opacity: 1;
  position: absolute;
  top: 733px;
  left: 389px;
  overflow: hidden;
 }

 .bottom-hukidashi > p{
  margin: 1px 0 0 1px;
}


.bottom {
  /* background-color: #cccccc; */
   color: rgba(0,0,0,1);
   font-family: Abyssinica SIL;
   font-weight: Regular;
   font-size: 32px;
   opacity: 1;
}
.bottom > p {
  text-align: center;
  margin: 0em;
}

.bottom-mic{
  /* display:inline-block; */
  text-align: right;
  /* width: 50px; */
  margin: 0 0 0 auto;
  /* padding: 10px; */
  /* background-color: aqua; */

}

.start{
  width: 80px;
  /* height: 30px; */
  padding: 10px;
  /* text-align: center; */
}
.stop{
  width: 80px;
  /* height: 30px; */
  padding: 10px;
  /* text-align: center; */
}

#output2{
  font-size: 32px;
  text-align: center;
  color: rgb(0, 1, 0);
  margin: 0;
}
#output2 > p{
  margin: 0;
}

.lesson-menu {
  width: 382px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 116px;
  left: 338px;
  font-family: Abyssinica SIL;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}

.lesson-menu1 {
  width: 382px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 121px;
  left: 480px;
  font-family: Abyssinica SIL;
  font-weight: Regular;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}

.lastbtn{
  display: none;
  position: absolute;
  top: 650px;
  left: 1300px;
  width: 150px;
  padding: 10px;
}

.btn{
  position: absolute;
  top: 650px;
  left: 1300px;
  width: 100px;
  padding: 10px;
}

/* .btn2{
  position: absolute;
  top: 650px;
  left: 500px;
  width: 100px;
  padding: 10px;

}
.btn3{
  position: absolute;
  top: 650px;
  left: 600px;
  width: 100px;
  padding: 10px;

} */


.box {
width: 300px;
height: 150px;
background-color: blue;
color:aqua;
}

#buttonImage {
  background-image:url('../img/mic.png');
  display:inline-block;
  margin-top:2px;
  width:30px;
  height:30px;
  text-align: right;

}
