<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>あと樋口|dressing up画面</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
    <!-- ヘッダー -->
    <header>
        <h1>AROHIGUCHI</h1>
    </header>
    <!-- メイン情報 -->
    <div class="container">
        <h1>着せ替え画面</h1>
        <p>ここで着せ替えします</p>
    </div>
    <!-- リンクとか情報載せる -->
    <nav>
        <h1>メインメニュー</h1>
        <ul>
          <li><a href="/" id="index">メイン画面に戻る</a></li>
          <!-- <li><a href="/gameplay">ゲームプレイする</a></li> -->
        </ul>
    </nav>
    <!-- フッター -->
    <footer>
        
    </footer>

    <!-- jsの読み込み -->
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>
</html>