<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>あと樋口|home画面</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <script src="{{url_for('static', filename='js/js.cookie.js')}}"></script>

</head>
<body>
    <!-- ヘッダー -->
    <header>
        <h1>AROHIGUCHI</h1>
    </header>
    <!-- メイン情報 -->
    <div class="container">
        <h1>ホーム画面</h1>
        <p id="greeting" >{{ greeting }}</p>
        <p>ここで場面セレクトします</p>
    </div>
    <!-- リンクとか情報載せる -->
    <nav>
        <h1>メインメニュー</h1>
        <ul>
            <li><a href="/logout" id = "login_status">ログアウトする</a></li>
            <li><a href="/gameplay">ゲームプレイする</a></li>
            <li><a href="/gatya"> ガチャを引く</a></li>
            <li><a href="/dressup"> 着せ替えする</a></li>
        </ul>
    </nav>
    <!-- フッター -->
    <footer>

    </footer>

    <!-- jsの読み込み -->
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>
</html>