<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/kakunin.css')}}">
    </head>
    <body>
        <div class="v250_91">
            <div class="v250_92">
                <div class="v250_93">

                </div>
                <span class="v250_94">ATOHIGUCHI</span>
                <span class="v250_95">新規登録確認画面</span>
            </div>
            <span class="v250_97">{{result}}</span>
            <span class="v250_98"><a href="/">ログイン画面へ</a></span>
        </div>
    </body>
</html> 
